<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mytrintrin.www.pbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity
            android:name=".Registration"
            android:exported="true"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Members"
            android:parentActivityName=".Registration" />
        <activity
            android:name=".Refunds"
            android:parentActivityName=".Registration" />
        <activity android:name=".Redistribution" />
        <activity android:name=".LoginNFC" />
        <activity
            android:name=".Checkoutmanually"
            android:parentActivityName=".Redistribution" />
        <activity
            android:name=".Checkoutnfc"
            android:parentActivityName=".Redistribution" />
        <activity android:name=".Maintainance_Centre" />
        <activity
            android:name=".UnderMaintainance"
            android:parentActivityName=".Maintainance_Centre" />
        <activity
            android:name=".Add_Cycle"
            android:parentActivityName=".Maintainance_Centre" />
        <activity android:name=".Add_card" />
        <activity android:name=".GetStarted" />
        <activity android:name=".Tickets"></activity>
    </application>

</manifest>